@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.main_container {
	width: 100%;
	height: 230vh;
    display: flex;
    justify-content: center;
    position: relative;
}

h3 {
	font-family:'Pretendard-Regular';
}

/*  방송 카테고리(사이드바) */
.streamcate_bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 20px 0;
    background-color: #2A2F4F;
    left:0;
    bottom: 5%;
	width: 90px;
}

.streamcate_detail {
	width: 100%;
    list-style: none;
    padding: 0;
    font-family:'Pretendard-Regular';
    margin: 0;
}

.streamcate_detail li{
    margin: 10px 0;
}

.streamcate_detail a{
    text-decoration: none;
    color: white;
    padding: 3px;
    white-space: nowrap;
}

.streamcate_detail span {
    margin-top: 10px;
}

.streamcate_detail span,
.streamcate_detail i{
    display: block;
}

/* LIVE 목록*/
.live_container {
	width: 90%;
	margin: 90px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* 추천 크리에이터 */
.live_creator_list {
	width: 100%;
	height: 250px;
	max-width: 1310px;
}

.live_creator_tot {
	display: flex;
	justify-content: space-between;
}

.live_creator {
	margin: 0 15px;
	position: relative;
}

.creator_background {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	background-color: #2A2F4F;
	position: relative;
}

.creator_background:hover {
	background: #917FB3;
}

.creator_img img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 5px;
}

.creator_nickname{
	margin: 10px 0 10px 0;
	text-align: center;
	font-weight: bold;
}

.small_live_icon {
	width: 35px;
	position: absolute;
	background-color: #ff0000;
	border-radius: 4px;
	color: white;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	left: 50%;
    transform: translateX(-50%);
    padding: 2px 0;
    margin: 0;
    bottom: 35px;
}

/* 실시간 라이브 화면 */
.live_info_area {
	width: 90%;
	margin: 90px;
	padding-lfet: 10%;
	heiht: 60%;
	max-width: 1310px;
}

.live_info_tot {
	width: 100%;
	heigth: 100%;
	display: flex;
	justify-content: space-between;
}

.live_screen {
	position: relative;
	border-radius: 15px;
	background-color: black;
	width: 300px;
	height: 160px;
}

.live_icon {
    width: 50px;
	position: absolute;
	background-color: #ff0000;
	border-radius: 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
    padding: 3px 0;
    margin: 0;
    top: 8px;
    left: 8px;
}

.live_viewer {
	position: absolute;
	background-color: black;
	border-radius: 4px;
	color: white;
	text-align: center;
	width: 70px;
	font-size: 14px;
	padding: 3px 0;
	left: 65px;
	top: 8px;
}


.live_pickture img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.live_info_list {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.live_info_tot {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.live_profile {
	display: flex;
	position: relative;
	margin-top: 10px;
}

.live_nickname {
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}