@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin : 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:'Pretendard-Regular';
}

.search_tot{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
}

.search_creator, .search_goods{
	width: 60vw;
	height: 40vh;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.search_result {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #DDE2E6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_result h2{
	font-size: 20px;
}
