@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Logo';
    src: url('../font/MagicalMysteryTourOutlineShadow-JGgn.ttf') format('truetype');
}

@font-face {
    font-family: 'Bubble';
    src: url('../font/Bubblegum.ttf') format('truetype');
}

.navbar a {
	text-decoration: none;
	color: white;
	margin: 0 20px;
}

.navbar_logo {
	font-family: 'Logo';
	font-size: 25px;
}

.navbar_logo a {
	color: white;
}

.navbar_menu, .navbar_login, .navbar_icon {
	list-style: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	font-family:'Bubble';
	padding-left: 0;
}

.navbar_menu li a, .navbar_login li a {
	margin: 20px;
    padding: 6px;
}

.navbar_menu li a:hover, .navbar_login li a:hover {
    color: #2A2F4F;
    border-radius: 50px;
    padding: 6px;
    background-color: white;
}

/* 마이페이지 토글 부분 */
.navbar_icon li:hover .navbar_submenu {
	display:block;
}

.navbar_mypage {
	position: relative;
}

.navbar_submenu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #2A2F4F;
    border-radius: 30px;
    padding: 0 2px;
}

.navbar_submenu li a {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    color: white;
    padding: 6px;
    margin: 5px 0;
}
/**/

.navbar_ment {
	font-size: 14px;
	color: white;
	font-family:'Pretendard-Regular';
	margin-right: 10px; 
}

.search_box {
	padding-left: 0;
	padding: 10;
	width: 100%;
	height: 30px;;
	background: white;
	border-radius: 10px;
	border: 3px solid #917FB3;
	display: flex;
	align-items: center;
	position: inline-block;
    margin-right: 20px;
}

.search_txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0 15px;
	color: #797979;
	box-sizing: border-box;
	width: 100%;
	font-family:'Pretendard-Regular';
}

.search_btn {
	float: right;
	width: 30px;
	height: 100%;
	border-radius: 50%;
	color: #917FB3;
	background-color: white;
	border: none;
	font-size: 16px;
	margin-right: 5px;
}

.navbar_toggleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: white;
	padding-top: 5px;
	
}

/* 반응형 웹 기능 */
@media screen and (max-width: 1060px) {
	.navbar_ment {
	display: none;
	
	}

@media screen and (max-width: 768px) {

	.navbar_container { 
	flex-direction: column;
	align-items: flex-start;
	}
	
	.navbar_menu, .navbar_login {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	}
	
	.navbar_menu li .navbar_login li{
	width: 100%;
	text-align: center;
	}
	
	.navbar_search {
	display: none;
	}
	
	.navbar_icon {
	display: none;
	width: 100%;
	justify-content: center;
	}
	
	.navbar_ment {
	display: none;
	}
	
	.navbar_toggleBtn {
	display: block;
	}
	
	.navbar_menu.active,
	.navbar_login.active,
	.navbar_icon.active {
	display: flex;
	}
}	
