@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.gifthub_container {
	width: 100%;
	height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift_form {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift_info {
	background-color: #F6F6F6;
	padding: 50px 40px;
	border-radius: 5px;
}

.gift_info_detail, .gift_orderlist, .gift_address_detail {
	background-color: white;
	padding: 50px 40px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.gift_info_detail, .gift_orderlist {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_button, .add_button, .buy_button, .select_creator {
    width: 300px;
	height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #2A2F4F;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family:'Pretendard-Regular';
}

.buttons, button {
	height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #2A2F4F;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family:'Pretendard-Regular';
}

select {
	width: 300px;
	height: 50px;
	padding: 10px;
	margin: 10px;
	background-color: #F6F6F6;
	font-family:'Pretendard-Regular';
	border-radius: 5px;
	border: 1px solid #DDE2E6;
}

.detail_category, .address, .address_detail {
	height: 30px;
	padding: 10px;
	margin: 10px;
	background-color: #F6F6F6;
	font-family:'Pretendard-Regular';
	border-radius: 5px;
	border: 1px solid #DDE2E6;
}

.detail_category{
	width: 280px; 
}

.address {
	width: 200px;
}

.address_detail {
	display: block;
	width: 450px;
}


img {
	width:80px;
	height:80px;
	border-radius: 20px;
	margin-top: 5px;
}