@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.regist_container {
	width:100%;
	height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regist_tot {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 30px 20px;
	border-radius: 5px;
}

.regist_tot h3{
	margin-top: 0px;
	margin-bottom: 15px;
}

.regist_menu {
	display: flex;
    flex-direction : column;
    margin: 0;
    padding-bottom: 10;
}

label {
	margin-top: 10px;
	font-size: 14px;
	font-family:'Pretendard-Regular';
}

.regist_menu input {
	width: 350px;
	height: 40px;
	background: none;
	border-radius: 5px;
	border: 1px solid #DDE2E6;
    color: #797979;
    padding: 0 14px;
    margin: 5px 0;
    font-family:'Pretendard-Regular';
}

#idCheck:hover {
	background-color:#917FB3;
}

.pw1_notice {
	color:#ff0000;
	font-size: 13px;
	font-family:'Pretendard-Regular';
}
.pw1_notice p{
	margin: 0px;
}

.regist_signup input{
	width: 380px;
	height: 50px;
	background: #2A2F4F;
	border-radius: 5px;
	border: 1px solid #DDE2E6;
    color: white;
    padding: 0;
    margin: 20px 0;
    font-family:'Pretendard-Regular';
}

.regist_signup input:hover {
	background-color:#917FB3;
}