@font-face {
    font-family: 'Bubble';
    src: url('../../font/Bubblegum.ttf') format('truetype');
}
.background{
	background-color: #483f3f;
}
.container{
	width: 1300px;
	min-height: 900px;
	display: flex;
	justify-content: center;
	background-color: rgb(241,240,254);
	margin: auto;
}
a{
	color: black;
	text-decoration: none;
}
.div_pd10{
	padding-left: 10px;
	padding-right:10px;
	margin: auto;
}
.sidebar{
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}
.category_list{
	width: 200px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
	padding-bottom: 10px;
	background-color: #2A2F4F;
}
.category_title{
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
}
.category{
	height: 22px;
	display: flex;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
}
.store{
	width: 200px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
	font-family: 'Bubble';
	background-color: red;
	margin-top: 10px;
	box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
	color: rgb(50,50,50);
	cursor: pointer;
}
.board{
	width: 1000px;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #cecece;
}
.history{
	display: flex;
	width: 90%;
	height: 30px;
	margin: auto;
	margin-top: 20px;
	background-color: #d5d3fe;
	border-radius: 10px;
	align-items: center;
	position: relative;
}
.noties{
	width: 90%;
	min-height: 25px;
	margin: auto;
	background-color: rgb(0,0,0,0.1);
	background-image: url(../../noties_gray.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
table.noties_table{
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	tr {
		border-top: solid 1px rgba(0, 0, 0, 0.2);
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	}
}
span.noties_active{
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: red;
	background-image: url(../../noties_white.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	display: inline-block;
	cursor: pointer;
}
span.noties_active:hover{
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: red;
	background-image: url(../../noties_black.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	display: inline-block;
	cursor: pointer;
}
span.noties_passive{
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: #bdbdbd;
	background-image: url(../../noties_black.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	display: inline-block;
	cursor: pointer;
}
span.noties_passive:hover{
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: #bdbdbd;
	background-image: url(../../noties_white.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	display: inline-block;
	cursor: pointer;
}
.tools{
	width: 90%;
	height : 25px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	span{
		display: flex;
	}
}
.post{
	width: 90%;
	margin: auto;
}
.empty_board{
	width: 100%;
	height: 600px;
	background-image: url(../../nothing.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	border: 1px solid #cecece;
	border-radius: 10px;
}
.paging{
	width: 90%;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	margin: auto;
}
.functions{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-top: 5px;
}
.post_write{
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
.inputbox{
	justify-content: center;
	width: 100%;
	min-height: 600px;
	margin-top: 5px;
	margin-bottom: 5px;
	.ck-editor__editable {
		    width: auto;
			min-height: 600px;
		    margin: auto;
	}
}
.like_button{
	cursor: pointer;
}
.like_box{
	height: 21px;
	border: 2px solid;
	border-radius: 21px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: red;
	cursor: pointer;
	background-color: white;
}
.liked_box{
	height: 21px;
	border: 2px solid;
	border-radius: 21px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: red;
	cursor: pointer;
	background-color: red;
}
.comment_box{
	margin-left: 10px;
	height: 21px;
	border: 2px solid;
	border-radius: 21px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #2A2F4F;
}
table.post_table {   
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	tr {
		border-top: solid 1px rgba(0, 0, 0, 0.2);
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	}
}
table.post_view{
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	tr {
		border-top: solid 1px rgba(0, 0, 0, 0.2);
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	}
}
#cm_content{
	margin-top:4px;
}
textarea{
	resize: none;
}